{% extends 'navbaruser.html' %} {% block title %} Dashboard{% endblock title %} 
{% block body %}
   
    <div class="continer " >
      <form method="post" class="form px-0" id="form" action="/info" action="/draft" >
        {% csrf_token %}
        <h1>Add More Info</h1>
        <div class="form-group">
          <label for="designation">Designation</label>
          <input type="text" name="designation" id="designation" class="form-control" required/>
        </div>

        <div class="form-group">
          <label for="address">Address</label>
          <input type="text" name="address" id="address" class="form-control" required/>
        </div>
        <div class="form-group">
          <label for="city">City</label>
          <input type="text" id="city" name="city" class="form-control" required />
        </div>
        <div class="form-group">
          <label for="pin" class="form-label">Pin</label>
          <input type="phone" class="form-control" id="pin" name="pin" required/>
        </div>
        
        <div class="form-group">
          <label for="phone">Office Number</label>
          <input type="phone" id="officeno" name="officeno" class="form-control" required />
        </div>
        
        <button class="btn btn-success mt-3" name="saveasdraft" type="submit">Save as Draft</button>
        <button class="btn btn-success mt-3" name="submitbtn" type="submit">Submit</button>
        
        <p>Once submitted you can not change this information</p>
      </form>
    </div>

    {% endblock body %}
  </form>
</div>
