{% extends 'navbaruser.html' %} {% block title %} Dashboard{% endblock title %}
{% block body %}
<div
  id="details"
  style="width: 100%; display: flex; justify-content: space-between"
>
  {% for det in details %}
  
  <div
    style="
      width: 40%;
      display: flex;
      align-items: center;
      flex-direction: column;
    "
  >
    <img src="/static/user.png" style="height: 60%" class="mt-3" alt="" />

    <h4
      class="text-center text-danger"
      style="font-size: 3.5vw; font-weight: bolder;text-transform:uppercase;"
    >
      {{det.name}}
    </h4>
  </div>
  <div class="w-50 float-right mt-5 m-auto text-danger">
    <h4 class="mt-4 text-primary " style="font-weight: bolder;text-transform:uppercase;">Email :</h4>
    <h4 class="mt-4">{{det.email}}</h4>
    <h4 class="mt-4 text-primary" style="font-weight: bolder;text-transform:uppercase;">Phone :</h4>
    <h4 class="mt-4">{{det.phone}}</h4>
    <h4 class="mt-4 text-primary" style="font-weight: bolder;text-transform:uppercase;">DOB :</h4>
    <h4 class="mt-4">{{det.dob}}</h4>
   {% for inf in info %}  
    <h4 class="mt-4 text-primary " style="font-weight: bolder;text-transform:uppercase;">Designation :</h4>
    <h4 class="mt-4" style="text-transform:uppercase;">{{inf.designation}}</h4>
    </div>
  <div class="w-50 float-right m-auto text-danger">
    <h4 class="text-primary" style="font-weight: bolder;text-transform:uppercase;">Address :</h4>
    <h4 class="mt-4"style="text-transform:uppercase;">{{inf.address}}</h4>
    <h4 class="mt-4 text-primary" style="font-weight: bolder;text-transform:uppercase;">City :</h4>
    <h4 class="mt-4"style="text-transform:uppercase;">{{inf.city}}</h4>
    <h4 class="mt-4 text-primary" style="font-weight: bolder;text-transform:uppercase;">Pin :</h4>
    <h4 class="mt-4">{{inf.pin}}</h4>
    <h4 class="mt-4 text-primary" style="font-weight: bolder;text-transform:uppercase;">Office Number :</h4>
    <h4 class="mt-4" >{{inf.officeno}}</h4>
    {% endfor %}
    {% endfor %}
  </div>
</div>
{% endblock body %}
